.dashboard-sports {
  display: flex;
  align-items: start;
  padding-top: 2rem;
  padding-left: 1.5rem;
  font-family: Impact, Haettenschweiler, sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.dashboard-options {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: white;
  transition: transform color 0.3 ease;
}
ul li a:hover {
  text-transform: uppercase;
  color: #1e90ff;
}
