@import url(header.css);
@import url(dashboard.css);
@import url(main_cards.css);
@import url(footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 15% 5% 15%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
  padding: 0.5rem;
  padding-bottom: 2rem;
}

.container-dashboard-main {
  display: flex;
  flex-direction: row;
  gap: 15px;

  .dashboard {
    width: 200px;
    flex-shrink: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 3px solid gold;
    border-radius: 50px;
  }

  .main-content {
    flex: 1;
    border: 3px solid gold;
    border-radius: 50px;
  }
}

footer {
  color: white;
  margin-top: 5rem;
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
