.container-cards {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.section-wagers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2rem;
}

.wager-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  max-width: 250px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3 ease;
}
.card-image:hover {
  transform: scale(1.2);
}
