* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  flex: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

header {
  margin: 10%;
  margin-top: 5%;
  align-items: center;
}

.title-menu {
  text-align: center;
  padding-bottom: 2rem;
  font-family: Cambria, Cochin, serif;
  color: white;
}

.container-menu {
  width: 700px;
  max-width: 900px;
  height: auto;
  background: linear-gradient(to right, #10125c, #006eff);
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 5px;
  align-items: center;
  justify-items: center;
}

.menu-options {
  list-style: none;
}

.container-menu li {
  display: inline-block;
}

.button-menu {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  background-color: #13154d;
  box-shadow: -2px 4px #888888;
  border-radius: 5px;
  color: whitesmoke;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}

.button-menu:hover {
  background: rgb(42, 144, 247);
}

.button-menu:active {
  background: rgb(0, 0, 0);
}
