.section-contact {
  padding: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 249, 194);
  border-radius: 25px;
}

.title-contact {
  padding-bottom: 0.8rem;
  color: rgb(47, 148, 0);
  text-transform: uppercase;
}

.description-contact {
  padding-bottom: 0.5rem;
  font-style: italic;
  font-size: 1.1rem;
}

form {
  padding-bottom: 0.5rem;
}
.label-email-contact {
  font-weight: bold;
  font-size: 1.1rem;
}
.input-contact {
  width: 350px;
  min-width: none;
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  border: 2px solid rgb(59, 187, 0);
  border-radius: 10px;
  font-size: 1rem;
}

.button-contact {
  padding: 0.4rem 1.1rem 0.4rem 1.1rem;
  border: none;
  border-radius: 15px;
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: rgb(59, 187, 0);
  transform: background-color 0.3s ease;
}
.button-contact:hover {
  background-color: rgb(84, 255, 5);
}
.button-contact:active {
  background-color: rgb(39, 122, 0);
}
