@import url(header.css);
@import url(main_banner.css);
@import url(main_cards.css);
@import url(main_contact.css);
@import url(footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 1rem 5% 1rem;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

header {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  border: 3px inset gold;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 2rem;
}

/* Tablet - 768px+ */
@media (min-width: 768px) {
  body {
    padding: 0 5% 5% 5%;
  }

  header {
    grid-template-rows: auto auto;
    gap: 0;
    margin-top: 1.5rem;
  }
}

/* Desktop - 1024px*/
@media (min-width: 1024px) {
  body {
    padding: 0 15% 5% 15%;
  }

  header {
    grid-template-rows: auto auto;
    gap: 0;
    margin-top: 2rem;
  }
}

main {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 10px;
  flex-wrap: wrap;
}

footer {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
