.banner {
  border: 2px inset white;
  border-radius: 8px;
  background-image: url("../imgs/banner.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  max-height: 50vh;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.banner-overlay {
  text-align: center;
  color: white;
  padding-bottom: 2rem;

  .banner-title {
    font-size: 3rem;
  }

  .banner-paragraph {
    font-size: 1.1rem;
    font-family: "Courier New", Courier, monospace;
    font-style: italic;
    margin-bottom: 1rem;
  }

  .button-register {
    background-color: gold;
    max-height: 3rem;
    max-width: 7rem;
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .button-register:hover {
    background-color: rgb(250, 250, 248);
  }
  .button-register:active {
    background-color: rgb(202, 172, 1);
    color: white;
  }
}
