* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.cards-all {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  width: 100%;
  height: 100%;
}

.title-main {
  margin: 5rem auto;
  margin-bottom: 3.5rem;
  color: rgb(212, 212, 212);
  text-align: center;
  font-size: 4rem;
  letter-spacing: 0.1rem;
  word-spacing: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;
}

.container-cards {
  align-self: center;
  display: flex;
  flex: row;
  margin: 0 4% 2% 4%;

  .card {
    background-color: #0e0e0e;
    margin: 1rem;
    padding: 1rem 2rem 0 2rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;

    .dog-image {
      align-items: center;
      align-self: center;
      border-radius: 8px;
      width: 100%;
      max-width: 30rem;
      height: auto;
    }
    .dog-name {
      padding-top: 1.2rem;
      padding-bottom: 0.5rem;
      color: rgb(104, 104, 161);
    }
    .dog-description {
      justify-content: center;
      width: 100%;
      max-width: 30rem;
      height: auto;
      padding-bottom: 1rem;
      text-align: justify;
      text-justify: distribute-all-lines;
      font-family: "Times New Roman", Times, serif;
      font-size: 1.1rem;
      color: rgb(196, 192, 192);
    }
  }
}
